/*
Author:Yaw Asare
Designed for: RedLipstick
*/
/* CSS RESET */
*,*::before,*::after{margin:0;padding:0;outline:0;border:0;list-style:none;text-decoration:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
hr{margin:0 auto;width:150px;background:#f4f4f4}
::selection{background:#eee;color:#333}
::-moz-selection{background:#eee;color:#333}
::-webkit-selection{background:#eee;color:#333}


/*CLEARFIX == clear floats*/
.cf{zoom:1}
.cf:after, cf:before{content:"";display:table;clear:both}
body{line-height:1.5;color:#333;font:1em "Raleway",Verdana, Geneva, Arial, sans-serif}

/* GRID == In the format grid-n, denoting a horizontal grid made up of n columns that should sum up to 12 in its parent container. */
[class*="grid"]{float:left;}
.grid-12{width:100%}
.grid-10{width:83.33%}
.grid-8 {width:66.67%}
.grid-6{width:50%;}
.grid-5{width:41.6%;}
.grid-4{width:33.33%}
.grid-3 {width:25%}
.grid-2 {width:16.67%}
.grid-1{width:8.33%}
/***** End of re-usable CSS. Now to page specifics*****/

.wrapper{max-width:1280px;margin:0 auto; padding:0 1%}
.space{padding:80px 0}

/*fonts*/
h1,h2,h3,h4,h5,h6,.caps{text-transform:uppercase; padding-top:0.4em; padding-bottom:0.4em}
h1, .huge{font-family:"Oswald", Arial, sans-serif}
p {padding-top:0.4em; padding-bottom:0.8em}
.bridge{width:33%;height:2px;background:#f1f1f1;}
.raleway{font-family:"Raleway",serif}
.huge{font-size:5.3em;padding:5px 0;}
.bold{font-weight:bold; padding-right:0.8em}

/*sections*/
.landing .wrapper{padding-top:60px;position:absolute;top:0; overflow:hidden;}
.landing{position:relative;background:#333 /*url(https://db.tt/Xc6cJBxJ) fixed*/; color:#333;overflow-y:hidden; height:600px}
.landing img {position:absolute;top:0;}

 /*(http://www.zastavki.com/pictures/originals/2013/Girls___Models_Model_in_plaid_dresses_041727_.jpg)*/
 /*https://db.tt/SMnIx41o*/
/*anchors*/
.box-link{position:relative;margin-top:1.1em; margin-bottom:0.4em;}
.box-link-inner{padding:8px 12px; border:2px solid #a30303;color:#a30303;z-index:20;}
.box-link-inner:hover{background:#a30303;color:#fff;}
/*.box-link-inner::before{content:"";display:block;position:absolute;top:-10px;left:0;background:#a30303;width:0;height:37px;-webkit-transition:width 0.3s;-moz-transition:width 0.3s;transition:width 0.3}*/
/*.box-link-inner:hover > .box-link-inner::before{width:122px}*/

/*images*/
img{width:100%;}

.black{background:#333}
.white{background:#fff}
.grey {background:#ddd}
.red {background:#a30303}
.pink {background:#ffa5d2}

/* HEADER */
.header{position:relative;top:0;left:0;width:100%;padding:20px 0;background:#fff;z-index:1000}
.logo{display:inline-block;font:22px "Berkshire Swash", arial, serif;color:#a30303}
.logo span:nth-of-type(2){color:#333}


/* NAVIGATION */
.header .nav{padding-top:10px;}
.header .nav,.header .nav li{float:right}
.nav li a{text-transform:uppercase;font:14px "Oswald",serif;color:#333;padding:0 10px}
.nav li a:hover {color:#a30303}


/* CONTENT */
.intro, .slide, .blurb,.center{margin:0 auto; text-align:center}
.intro{position:absolute;width:300px;height:300px;padding:50px 5px;color:#f1f1f1;background:rgba(0,0,0,0.3) /*url(http://www.transparenttextures.com/patterns/foggy-birds.png)*/;border-top:10px solid #333;opacity:0;text-align:left;z-index:9999;border-radius:0 0 4px 4px}
.intro .huge {/*text-shadow:-2px 2px #222, -4px 4px #ff6666*/color:#f1f1f1;}
.intro .fa {color:#f1f1f1;font-size:1.5em}
.intro .fa-female {color:#a30303 !important}
.intro .bold span{font-size:1.5em;color:#f1f1f1;padding-left:0.4em;}
.bold input{margin-left:0.4em;}
/*.intro #style-nav{min-width:120px;padding:8px 10px;color:#a30303;font:1.1em "Oswald", Arial, serif;border:none;background:#fff;border-radius:0 4px 4px 0;}
option{padding:10px;}*/

.slide{width:85%}

.promo{background:#a30303 url(http://www.transparenttextures.com/patterns/gray-floral.png)}
.promo .blurb{text-align:left;padding:0 8.34%}
.promo .gutter{height:1px;-moz-transition:width 0.5s;transition:width 0.5s}
.grid-8.white.space{float:none;margin:0 auto;}

.pics{max-height:616px;overflow-y:hidden;}
.pics .grid-6{position:relative;}
.divider{padding-right:1px;}
.divider .grid-6{padding-left:1px;}
.divider .grid-6:first-child,.divider .grid-12 .grid-6:first-child{padding-left:0;}
.divider .grid-12 {}
.pics span{display:none;position:absolute;bottom:0;padding:8px;background:#a30303;color:#fff;opacity:0.9;font-size:0.9em;}
/*.divider .grid-12 .grid-6 {padding-top:1px}*/


/* FOOTER */
.footer{position:relative;color:#666; margin-top:-12px}
.footer .grid-1{}
.footer .social a{display:block;height:32px;width:32px;background:url(http://idea.yawdesigns.com/images/social-icons-sprite2.png);margin:20px auto;border:1px solid #fff;border-radius:50%;opacity:0.7;}
.footer .social a:hover{opacity:1;}
.footer .social a:last-child{margin-bottom:0;}
.footer .grid-1::after{content:"";position:relative;width:8.3%;top:1px;left:-18px;display:block;height:0;border:60px solid transparent;border-bottom-color:#ddd;}
.footer .nav{}
.footer .nav li{text-align:left; padding:5px; border-left:2px groove #444}
.footer .nav li:first-child {padding:0 13px; color:#a30303; border-left-color:#a30303; font-size:14px}
.footer .nav h3 {padding:0; margin:0}
.footer .nav .a{display:block;color:#666;padding:0}
.form {padding:5px 0px 20px;width:180px;margin:0 auto}
.footer .logo{text-shadow:1px 0 0 #fff;}
.footer .logo span:nth-of-type(2){color:#808080}
#newsletter {background:#ddd; font-size:14px}
#newsletter input[type='text']{float:left;padding:5px;width:60%}
#newsletter input[type='submit']{position:relative;background:#a30303;color:#fff;padding:5px}

.footer-after{padding:8px 0;text-align:right; color:#aaa;font-size:0.5em}
.footer-after a{padding:8px 10px;color:#aaa;text-transform:capitalize;}
.footer-after span{text-align:left;}
.footer-after a:hover{color:#fff;font-size:0.5em}
