/*
Author:Yaw Asare
Designed for: RedLipstick

*/

/* CSS RESET */
*,*::before,*::after{margin:0;padding:0;outline:0;border:0;list-style:none;text-decoration:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
hr{margin:0 auto;width:150px;background:#f4f4f4}
::selection{background:#eee;color:#333}
::-moz-selection{background:#eee;color:#333}
::-webkit-selection{background:#eee;color:#333}
/*div{behavior: url('js/PIE.htc')}  for box shadows in lte IE 8*/

/*CLEARFIX == clear floats*/
.cf{zoom:1}
.cf:after, cf:before{content:"";display:table;clear:both}

body{line-height:1.5;color:#333;font:0.9em "Raleway",Verdana, Geneva, Arial, sans-serif;}

/* GRID == In the format grid-n, denoting a horizontal grid made up of n columns that should sum up to 12 in its parent container. */
[class*="grid"]{float:left;}
.grid-12{width:100%}
.grid-10{width:83.33%}
.grid-8 {width:66.67%}
.grid-6{width:50%;}
.grid-4{width:33.33%}
.grid-3 {width:25%}
.grid-2 {width:16.67%}
.grid-1{width:8.33%}

/***** End of re-usable CSS. Now to page specifics*****/

.wrapper{max-width:1024px;margin:0 auto; padding:0 1%}
.space{padding:80px 0}


/*fonts*/
h1,h2,h3,h4,h5,h6,.caps{text-transform:uppercase; padding-top:0.4em; padding-bottom:0.4em}
h1, .huge{font-family:"Oswald", Arial, sans-serif}
p {padding-top:0.4em; padding-bottom:0.4em}
.raleway{font-family:"Raleway",serif}
.huge{font-size:5.3em;padding:5px 0;}
.bold{font-weight:bold; padding-right:0.8em}   
.landing .wrapper{padding-top:60px}
.landing{color:#fff;min-height:600px}

/*anchors*/
.box-link{position:relative;margin-top:1.1em; margin-bottom:0.4em;}
.box-link-inner{padding:8px 12px; border:2px solid #a30303;color:#a30303;z-index:20;}
.box-link-inner:hover{background:#a30303;color:#fff;}
/*.box-link-inner::before{content:"";display:block;position:absolute;top:-10px;left:0;background:#a30303;width:0;height:37px;-webkit-transition:width 0.3s;-moz-transition:width 0.3s;transition:width 0.3}*/
/*.box-link-inner:hover > .box-link-inner::before{width:122px}*/

/*images*/
img{width:100%;}

.black{background:#333}
.white{background:#fff}
.grey {background:#ddd}
.red {background:#a30303}

/* HEADER */
.header{position:fixed;top:0;left:0;width:100%;padding:20px 0;background:#fff;z-index:1000}
.logo{display:inline-block;font:22px "Berkshire Swash", arial, serif;color:#a30303}
.logo span:nth-of-type(2){color:#333}


/* NAVIGATION */
.header .nav{padding-top:4px;}
.header .nav,.header .nav li{float:right}
.nav li a{text-transform:uppercase;font:14px "Oswald",serif;color:#333;padding:0 10px}
.nav li a:hover {color:#a30303}


/* CONTENT */
.intro, .slide, .blurb,.center{margin:0 auto; text-align:center}
.intro {padding-top:16.6%}
.intro .bold{font-size:1.5em}
.intro #style-nav{min-width:120px;padding:4px 10px;color:#a30303;font:1em "Berkshire Swash", Arial, serif;border:none;background:#fff;border-radius:0 4px 4px 0;}
option{padding:10px;}

.slide{width:85%}
.slide img{width:100%}

.promo{}
.promo .blurb{text-align:left;padding:0 8.34%}
.promo .gutter{height:1px}

.pics{max-height:470px;}
.divider{padding-right:1px;}
.divider .grid-6{padding-left:1px;}
.divider .grid-6:first-child,.divider .grid-12 .grid-6:first-child{padding-left:0;}
.divider .grid-12 {margin-top:-3px}
/*.divider .grid-12 .grid-6 {padding-top:1px}*/


/* FOOTER */
.footer{position:relative;color:#666;}
.footer .grid-1{}
.footer .grid-1::after{content:"";position:relative;top:80px;left:0;display:block;height:0;border:42px solid transparent;border-bottom-color:#ddd}
.footer .nav{}
.footer .nav li{text-align:left; padding:8px; border-left:2px solid #444}
.footer .nav li:first-child {padding-top:0; padding-bottom:0; color:#a30303; border-left-color:#a30303; font-size:14px}
.footer .nav .a{color:#666;}
